QMainWindow {
    background-color: #1e1e1e;
}

QWidget#Toolbar {
    background-color: #2d2d2d;
    border-bottom: 1px solid #3d3d3d;
}

QPushButton {
    background-color: #3d3d3d;
    color: #e0e0e0;
    border-radius: 4px;
    padding: 6px 12px;
    border: 1px solid #4d4d4d;
}

QPushButton:hover {
    background-color: #4d4d4d;
}

QPushButton:pressed {
    background-color: #0078d4;
}

QLineEdit {
    background-color: #1a1a1a;
    border: 1px solid #3d3d3d;
    border-radius: 4px;
    color: #0078d4;
    font-weight: bold;
    padding: 2px;
}

QScrollArea {
    border: none;
    background-color: #121212;
}

QComboBox {
    background-color: #3d3d3d;
    border: 1px solid #4d4d4d;
    border-radius: 4px;
    padding: 4px 10px;
    color: #e0e0e0;
}

QComboBox:hover {
    border: 1px solid #0078d4;
}

QComboBox QAbstractItemView {
    background-color: #2d2d2d;
    border: 1px solid #3d3d3d;
    selection-background-color: #0078d4;
    selection-color: #ffffff;
    outline: 0px;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 20px;
    border-left: 1px solid #3d3d3d;
}